/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||                                                                                               ||||||||*/
/*||| This is the official CreArts theme created by CorellanStoma#1996                              ||||||||*/
/*|||                                                                                               ||||||||*/
/*||| CreArts Theme v1.2.1 (Beta) (Default Edition)                                                 ||||||||*/
/*|||                                                                                               ||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* CreArts Theme (Powercord)*/
@import url('https://raw.githack.com/CorellanStoma/Powercord/assets/powercord.css');

/* Adding USRBG Support */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* Adding Blurple Recolor Support*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Add-Ons ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Add-Ons | Big Avatar */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Addons/big-avatar.css");

/* Add-Ons | Old Status Indicator */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Addons/old-status-indicator.css");

/* Add-Ons | Yellow Permissons */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Addons/yellow-permissions.css");

/* Add-Ons | Windows Titlebar */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Addons/windows-titlebar.css");

/* Add-Ons | Mobile Home */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Addons/mobile-home.css");

/* Add-Ons | Mobile Menu */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Addons/mobile-menu.css");

/* Add-Ons | Autocomplete Scrollable */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Addons/autocomplete-scrollable.css");

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Animated |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Animated | Ping */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Animated/ping.css");

/* Animated | Home Button */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Animated/home-button.css");

/* Animated | Avatar Hover */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Animated/avatar-hover.css");

/* Animated | Icons Hover */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Animated/icons-hover.css");

/* Animated | Chat Highlight */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Animated/chat-highlight.css");

/* Animated | Channel Highlight */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Animated/channel-highlight.css");

/* Animated | Profile Badge */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Animated/profile-badge.css");

/* Animated | Card Hover */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Animated/card-hover.css");

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Removed ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Removed | Removed the Edited label. */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Removed/edited.css");

/* Removed | Removed the Nitro home button, the nitro menu can still be accessed via the settings. */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Removed/nitro-home.css");

/* Removed | Removed the chat header at the beginning of the chat. */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Removed/chat-header.css");

/* Removed | Removed the Nitro & Gif Button in the Chatbox. Gifs can still be selected using the Emoji button. */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Removed/gif-nitro-chat.css");

/* Removed | Removed the closed folder background. */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Removed/closed-folder-background.css");

/* Removed | Removed the Note on the User Profile. */
@import url("https://raw.githack.com/CorellanStoma/Powercord/assets/Removed/removed-profile-note.css");

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Database |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Database | CreArts*/
@import url('https://raw.githack.com/CorellanStoma/Powercord/assets/Database/usrbg-crearts.css');

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Fonts ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Fonts | Adding Oxygen Font*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Plugins ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Plugins | Changed the design from "Better Formatting Redux" */
@import url('https://raw.githack.com/CorellanStoma/Powercord/assets/Plugins/better-formatting-redux.css');

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Theme Settings |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.theme-dark,
.theme-light,
:root {

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Version ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    --version: "v1.2.1 (Beta) (Default Edition)"; /*Theme Version*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Font |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    --font: 'Oxygen';

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Theme Color ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Accent */
    --Color001: #04D869;
    --Color010: #43B581;

/* Background */
    --Color002: #33393D;
    --Color003: #262A2D;
    --Color004: #202427;
    --Color005: #1A1D20;
    
/* Text */	
    --Color006: #FFFFFF;
    --Color007: #DCDDDE;
    --Color008: #b9bbbe;
    --Color009: #4F5459;

/* Shadow */

    --Color011: #00000040;

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Blurple Recolor ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    --accentcolor: 4,216,105;
    --linkcolor: 4,216,105;

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Windows 10 Titlebar ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    --titlebar-height: 30px;
    --titlebar-drag-margin: 4px;
    --titlebar-button-width: 48px;
    --titlebar-font-size: 12px;
    --titlebar-icon-font-size: 12px;
    --titlebar-background-color: var(--Color005);
    --titlebar-text-color: var(--Color007);
    --titlebar-button-hover: var(--Color003);
    --titlebar-button-active: var(--Color003);
    --titlebar-close-button-hover: var(--Color001);
    --titlebar-close-button-active: var(--Color001);

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Mobile Home Button |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    --mobile-home-normal: var(--Color008);
    --mobile-home-active: var(--Color006);

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||| Variables ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    --background-primary: var(--Color004);
    --background-secondary: var(--Color005);
    --background-secondary-alt: var(--Color002);
    --background-tertiary: var(--Color005);
    --background-accent: var(--Color001);
    --background-floating: var(--Color005);
    --background-modifier-hover: var(--Color004);
    --background-modifier-active: var(--Color004);
    --background-modifier-selected: var(--Color001);
    --background-modifier-accent: var(--Color002);
    --channeltextarea-background: var(--Color001);
    --deprecated-card-bg: var(--Color004);
    --deprecated-card-editable-bg: var(--Color004);
    --deprecated-text-input-bg: var(--Color005);
    --deprecated-text-input-border: var(--Color005);
    --deprecated-text-input-border-disabled: var(--Color005);
    --activity-card-background: var(--Color004);
    --channels-default: var(--Color004);
    --text-muted: var(--Color009);
    --text-normal: var(--Color006); 
    --interactive-normal: var(--Color008);
    --interactive-hover: var(--Color006);
    --interactive-active: var(--Color006);
    --interactive-muted: var(--Color009);
    --header-primary: var(--Color006);
    --toast-background: var(--Color006);
    --toast-header: var(--Color005);
    --toast-contents: var(--Color006);
    --toast-box-shadow: rgba(0, 0, 0, .2);
    --toast-border: var(--Color005);
    --activity-card-background: var(--Color004);
    --header-secondary: var(--Color008);
    --channel-list: var(--Color003);
    --offline-color: var(--Color004);
    --text-normal: var(--Color007); 
    --text-muted: var(--Color009);
    --channels-default: var(--Color008);
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/